<div fxlayout="row" class="outerdiv">
  <div fxLayout="column">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="start center" class="list">
        ASSET LIST
      </div>
      <div fxLayout="column" fxLayoutAlign="end end" class="button">
        <button mat-flat-button color="primary" (click)="addasset()">
          ADD ASSET
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="assetId">
          <th mat-header-cell *matHeaderCellDef>Asset Id</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.basic_info?.assetId ?? "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip color="primary">{{
              element?.advanced_info?.tags ?? "-"
            }}</mat-chip>
          </td>
        </ng-container>
        <ng-container matColumnDef="derviceId">
          <th mat-header-cell *matHeaderCellDef>Dervice ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.basic_info?.derviceId ?? "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dutyType">
          <th mat-header-cell *matHeaderCellDef>Duty Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.basic_info?.dutyType ?? "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="defaultDeviceId">
          <th mat-header-cell *matHeaderCellDef>Default Device ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.basic_info?.defaultDeviceId ?? "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="editadd(element.basic_info.assetId)"
              >description</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  <!-- </div> -->
</div>
