.side-nav {
    height: 200px;
  }
  
  mat-drawer {
    background-color: white;
    height: 1000px;
    width: 150px;
  }
  mat-drawer-container {
    color: black;
    background-color: lightcyan;
  }
  
  