<app-header (ismenusidelistEmit)="drawer.toggle()"></app-header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <app-sidemenu></app-sidemenu>
  </mat-drawer>
  <mat-drawer-content>
    <div id="map"></div>
    <!-- <div id="individual-markers"></div>

    <div *ngFor="let item of datadetails">
      <ng-container *ngIf="item.asset && item.asset.dutyType === 'heavy'">
        <div paint:paintProperties></div>
      </ng-container>

      <ng-container *ngIf="item.asset && item.asset.dutyType !== 'heavy'">
        <div paint:paintProperties></div>
      </ng-container>
    </div> -->
  </mat-drawer-content>
</mat-drawer-container>
