p {
  color: whitesmoke;
}
hr {
  color: whitesmoke;
}
.durationfield {
  color: aliceblue;
  margin-left: 600px;
  margin-right: 10px;
}

.fieldtag {
  color: aliceblue;
  margin-left: 50px;
  margin-right: 16px;
}
