.side-nav {
  height: 200px;
}

mat-drawer {
  background-color: white;
  height: 1000px;
  width: 150px;
}

.example-container {
  color: black;
  background-color: lightcyan;
  margin: 0;
}
mat-card-content {
  overflow: hidden;
}
