mat-dialog-content {
  padding: 20px;
}

mat-dialog-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}
.dio {
  margin-left: 100px;
}
.columns-container {
  margin-bottom: 10px;
}
.dialogdata {
  margin-top: 10px;
}
